@media (max-width: 1400px) {
  .tempat {
    width: 50%;
    padding: 0px 16px;
  }

  .first-image {
    width: 50%;
  }

  .bg-blue-container {
    max-width: 1320px;
  }
  .container-2 {
    max-width: 1320px;
  }

  .langkah-1-img,
  .langkah-2-img {
    max-width: 370px;
  }
  .langkah-3-img,
  .langkah-4-img {
    max-width: 370px;
  }
}

@media (max-width: 1024px) {
  .bg-blue-container {
    max-width: 960px;
  }
  .container-2 {
    max-width: 960px;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 77.5px 80px;
  }
  .container-3 {
    max-width: 960px;
  }
  .langkah-inner-data,
  .langkah-2-inner-data {
    margin-bottom: 3rem;
    padding: 0px 15px;
  }
  .langkah-3-inner-data,
  .langkah-4-inner-data {
    margin-bottom: 3rem;
    padding: 0px 15px;
  }
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }
  #nav-bar {
    position: absolute;
    /* top: -100px; */
  }
  #nav-bar:checked .navbar {
    display: block;
    /* flex-direction: column; */
  }
  .nav-toggle span:after {
    content: "<i class=" fa-solid fa-bars "></i>";
  }
  #nav:checked ~ #navigation-links label {
    background: red;
    span::after {
      content: " <i class=" fa-solid fa-xmark "></i>";
    }
  }
  .navigation-bar {
    display: block;
  }
  .flex-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .navbar ul {
    margin: auto;
    flex-direction: column;
  }
  .button {
    flex-direction: column;
  }
  .container-3 {
    max-width: 960px;
  }
  .span-data {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  #nav-bar {
    display: none;
  }
  .icon {
    display: none;
  }
}
@media (max-width: 992px) {
  .icon {
    display: block;
  }
  .logo img {
    width: 102px;
  }

  .tempat {
    width: 48%;
  }

  .tempat h1 {
    font-size: 37px;
  }

  .first-image {
    width: 48%;
  }

  .bg-blue-container {
    max-width: 930px;
  }
  .button-data {
    flex-wrap: wrap;
  }
  .toko-online-text,
  .produk-text {
    padding: 0px 15px;
  }
  .toko-online h3,
  .produk h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .bg-blue-container {
    max-width: 720px;
  }
  .button-data {
    flex-direction: row;
  }

  .bg-blue {
    /* gap: 8rem; */
    flex-direction: row;
  }

  .tempat {
    width: 100%;
  }

  .first-image {
    width: 100%;
  }
  .container-2,
  .container-3 {
    max-width: 720px;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 0px 80px;
  }
  .langkah-container,
  .langkah-container-2 {
    align-items: flex-start;
  }
}

@media (max-width: 576px) {
  .bg-blue-container {
    max-width: 540px;
  }
  .tempat {
    padding: 0px 15px;
  }

  .tempat h1 {
    line-height: 2.875rem;
  }

  .bg-blue {
    flex-direction: column;
    gap: 2rem;
  }

  .demo-schedule {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .from-now {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .from-now::after {
    right: -20px;
    bottom: 25px;
    box-shadow: 0px 0px 5px;
  }
  .container-2 {
    max-width: 540px;
  }
  .text h1 {
    font-size: 26px;
  }
  .toko-online-image,
  .toko-online-text {
    width: 100%;
  }
  .toko-online,
  .produk {
    gap: 3rem;
    flex-direction: column-reverse;
  }
  .produk-text,
  .produk-image {
    width: 100%;
  }
  .container-3 {
    max-width: 540px;
  }
  .bg-third-portion-text h2 {
    font-size: 24px;
  }
  .langkah-container,
  .langkah-container-2 {
    flex-direction: column;
  }
  .langkah-inner-data,
  .langkah-2-inner-data {
    width: 100%;
  }
  .langkah-3-inner-data,
  .langkah-4-inner-data {
    width: 100%;
  }
}
