@media (min-width:1400px){    
    .tempat {
        width: 615px;
    }
    .bg-blue img{
        width: 518px;
    }
    
    .navigation-bar{
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width:1280px){    
    .navigation-bar{
        margin: 0px 5px;
    }
}
@media (min-width:1200px){
.bg-blue{

    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
}
@media (max-width:1024px){    
    .navbar{
            display: none;
        }
  
    }
  @media (max-width:1023px){
/* .navbar{
    display: flex;
    flex-direction: column;
        text-align: center;
        width: 828px;
        height: 254px;
        margin: auto;
}
    .navbar ul{
        margin: auto;
        flex-direction: column;
    }
    .button{
        flex-direction: column;
    } */
    .icon{
        display: block;
    }
    .logo img{
        width: 102px;
        height: 40px;
    }
  .bg-blue img{
    width: 435px;
    height: 385px ;
  }
  /* .tempat{
    height: 574px;
    width: 345px;
} */
.bg-blue-container{
    width: 100%;
    padding: 0px 15px;
}
  }
  @media (max-width:992px){
    .tempat h1{
        width: 350px;
    font-size: 2.3rem;
}
.white-text{
    font-size: 15px;
}
.bg-blue-container{
    max-width: 960px;
    padding: 0px 15px;
}
.button-data {
    flex-direction: column;
    }
  @media (max-width:640px){
    .bg-blue-container {
        width: 100%;
        padding: 0px 15px;    
    }
.bg-blue{
    gap: 120px;
    flex-direction: column;
}
.button-data{
    flex-direction: row;
}
.tempat h1{
    width: 480px;
}
  }
  @media (max-width:320px){
    .tempat h1{
        width: 290px;
        padding: 0px 15px;
            font-size: 2.3rem;
    }
}
  }