@media (max-width: 1536px) {
  .bg-blue-container,
  .container-2,
  .container-3 {
    max-width: 1320px;
  }
  .container-4,.container-5,.card-container {
    max-width: 1320px;
  }
  .container-7,.container-8,.container-6{
max-width: 1320px;
  }
  .tempat h1 {
    width: 93%;
  }
}
@media (max-width: 1400px) {
  .tempat {
    width: 50%;
    padding: 0px 15px;
  }
  .tempat h1 {
    width: 100%;
  }
  .produk-image,
  .toko-online-image {
    padding: 0px 15px;
  }
  .produk h3 {
    font-size: 31px;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 167px 80px;
  }
  .first-image {
    width: 50%;
  }
.container-8,.container-6{
  max-width: 1140px;
}
  .bg-blue-container,
  .container-2,
  .container-3,.container-4 {
    max-width: 1140px;
  }
  .container-5,.card-container,.container-7{
    max-width: 1140px;
  }
  .langkah-1-img,
  .langkah-2-img,
  .langkah-3-img,
  .langkah-4-img {
    max-width: 370px;
  }
  .card-text{
    margin: 0px 0px 24px;
  }
}
@media (max-width: 1280px) {
  .bg-blue-container,
  .container-2,.container-5 {
    max-width: 1140px;
  }
  .toko-online-image,
  .toko-online-text {
    width: 50%;
  }
  .bg-third-portion-text {
    margin: 0px 167.5px 80px;
  }
  .produk-text,
  .produk-image {
    width: 50%;
    line-height: 30px;
  }
  .container-3,.container-4,.card-container {
    max-width: 1140px;
  }
  .container-7,.container-8,.container-6{
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .bg-blue-container,
  .container-2,.container-5 {
    max-width: 960px;
  }
  .container-3,.container-4,.card-container {
    max-width: 960px;
  }
  .container-7,.container-8,.container-6{
    max-width: 960px;
  }
  .text h1 {
    font-weight: inherit;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 77px 80px;
    max-width: 775px;
  }
  .tempat span {
    font-size: 16px;
  }
  h3 {
    font-weight: inherit;
  }
  .card-text{
    margin: 0px 0px 24px;
  }
  
}
@media (max-width: 1024px) {
  .bg-blue-container,.card-container,.container-6 {
    max-width: 960px;
  }
  .container-2,.container-4,.container-7 {
    max-width: 960px;
  }
  .tempat h1 {
    font-size: 36.8px;
    line-height: 2.85rem;
  }
  .logo img {
    width: 102px;
  }
  .tempat {
    width: 50%;
  }
  .tempat-inner {
    width: 90%;
  }
  .from-now {
    padding: 16px 30px;
  }
  .toko-online-inner-padding,
  .produk-text-inner-padding {
    padding: 0px;
  }
  .toko-online h3,
  .produk h3 {
    font-size: 20px;
    line-height: 1.5rem;
  }
  .span-data {
    font-size: 19px;
    line-height: 2rem;
  }
  .button-data {
    flex-wrap: wrap;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 77.5px 80px;
  }
  .container-3,.container-5,.container-8 {
    max-width: 960px;
  }
  .langkah-inner-data,
  .langkah-2-inner-data {
    margin-bottom: 3rem;
    padding: 0px 15px;
  }
  .langkah-3-inner-data,
  .langkah-4-inner-data {
    margin-bottom: 3rem;
    padding: 0px 15px;
  }
  .mulai-text h3{
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  #nav-bar {
    position: absolute;
  }
  #nav-bar:checked,
  .icon {
    display: block;
  }
  #nav-bar:checked ~ .navbar {
    display: block;
  }
  .navigation-bar {
    display: block;
  }
  .flex-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .navbar ul {
    margin: auto;
    flex-direction: column;
  }
  .button {
    flex-direction: column;
  }
  .span-data {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .icon {
    display: none;
  }
}
@media (max-width: 992px) {
  .logo img {
    width: 102px;
  }
  .dropdown-content {
    position: static;
  }
  .navbar {
    width: 174px;
    display: none;
  }
  .tempat h1 {
    line-height: 2.875rem;
  }
  .tempat,
  .first-image {
    width: 50%;
  }
  .tempat-inner {
    width: 100%;
  }
  .from-now,
  .demo-schedule {
    padding: 12px 29px;
  }
  .tempat h1 {
    font-size: 37px;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 0px 80px;
  }
  .bg-blue-container,.container-5,.container-7 {
    max-width: 720px;
  }
  .container-2,.card-container,.container-6 {
    max-width: 720px;
  }
  .container-3,.container-4,.container-8 {
    max-width: 720px;
  }
  .button-data {
    flex-wrap: wrap;
  }
  .toko-online-text,
  .produk-text {
    padding: 0px 15px;
  }
  .toko-online h3,
  .produk h3 {
    font-weight: inherit;
    font-size: 20px;
  }
  .banyak h3{
    font-size: 20px;
  }
  .card-text{
    padding: 0px 5px;
  }
}

@media (max-width: 768px) {
  .bg-blue-container,.container-4,.card-container {
    max-width: 540px;
  }
  .button-data {
    flex-direction: row;
  }

  .bg-blue {
    gap: 8rem;
    flex-direction: column;
  }
  .tempat h1 {
    padding-right: 2rem;
    line-height: 2.875rem;
  }
  .text h1,
  h3 {
    font-size: 24px;
  }
  .tempat {
    width: 100%;
  }
  .first-image {
    width: 100%;
  }
  .container-2,
  .container-3,.container-5 {
    max-width: 540px;
  }
  .container-7,.container-8,.container-6{
    max-width: 540px;
  }
  .text,
  .bg-third-portion-text {
    margin: 0px 0px 80px;
  }
  .bg-third-portion-text h2 {
    font-size: 24px;
  }
  .toko-online,
  .produk {
    flex-direction: column-reverse;
    gap: 3rem;
    text-align: center;
  }
  .toko-online-image,
  .produk-image {
    width: 100%;
  }
  .toko-online-text,
  .produk-text {
    width: 100%;
    padding: 0px 15px;
  }
  .langkah-container,
  .langkah-container-2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .langkah-inner-data,
  .langkah-2-inner-data {
    width: 100%;
  }
  .langkah-3-inner-data,
  .langkah-4-inner-data {
    width: 100%;
  }
  .text h1,
  h3 {
    font-weight: inherit;
  }
  .kata-mereka{
    flex-direction: column;
  }
  .kata-mereka-image, .kata-mereka-text{
    width: 100%;
  }
  .container-4 h2{
    font-size: 24px;
  }
  .atm-card-flex{
    flex-direction: column-reverse;
  }
  .atm-card-flex-2{
    flex-direction: column-reverse;
  }
  .banyak-image,.banyak{
    width: 100%;
  }
  .card-text h2{
    font-size: 24px;
  }
  .flex-card{
    overflow: scroll;
  }
  .lomo-shop, .produk-list, .bantuan-list, .connect-list{
    width: 50%;
  }
  .all-flex,.second-width{
    width: 100%;
  }
  .select-dropdown{
    flex-direction: column;
  }
  .select-options h2{
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .bg-blue-container,
  .container-3,.container-5 {
    max-width: 576px;
  }
  .tempat {
    padding: 0px;
  }
  .tempat span {
    font-size: 15px;
  }
  .tempat h1 {
    padding: 0px;
    width: 100%;
    line-height: 2.875rem;
  }

  .bg-blue {
    flex-direction: column;
    gap: 2rem;
  }

  .demo-schedule,
  .from-now {
    font-size: 0.8rem;
    padding: 8px 12px;
  }
  .from-now::after {
    padding: 0px 8px;
    right: -15px;
    bottom: 28px;
    box-shadow: 0px 0px 5px;
  }
  .container-2,.container-4,.card-container {
    margin: 0px;
    max-width: 576px;
  }
  .container-7,.container-8,.container-6{
    margin: 0px;
    max-width: 576px;
  }
  .text h1 {
    font-size: 26px;
  }
  .toko-online-image,
  .toko-online-text {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .toko-online,
  .produk {
    gap: 3rem;
    flex-direction: column-reverse;
  }
  .toko-online-text,
  .produk-text {
    line-height: normal;
  }
  .toko-online h3,
  .produk h3 {
    line-height: normal;
  }
  .produk-text,
  .produk-image {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .bg-third-portion-text h2 {
    font-size: 24px;
    font-weight: inherit;
  }
  .langkah-container,
  .langkah-container-2 {
    flex-direction: column;
  }
  .langkah-inner-data,
  .langkah-2-inner-data {
    width: 100%;
    padding: 0px;
  }
  .langkah-3-inner-data,
  .langkah-4-inner-data {
    width: 100%;
    padding: 0px;
  }
  .kata-mereka-image, .kata-mereka-text{
    padding: 0px;
  }
  .banyak, .banyak-image{
    padding: 0px;
  }
.flex-card{
  justify-content: center;
}  
  .good{
    display: none;
  }
  .card-circle{
    display: flex;
  }
  .store{
    max-width: 200px;
  }
  .button-data-bg-blue{
    flex-direction: column;
    align-items: center;
  }
  .demo-schedule-bg-blue,.from-now-bg-blue{
    font-size: .8rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .from-now-bg-blue::after{
    bottom: 30px;
    right: -20px;
  }
  .lomo-image{
    margin-left: auto;
    margin-right: auto;
  }
  .lomo-shop{
    padding: 0px;
  }
  .lomo-shop, .produk-list, .bantuan-list, .connect-list{
    width: 100%;
    padding: 0px;
  }
  ul li span{
    display: none;
  }
  .flex-list{
      display: flex;
      justify-content: space-between;
  }
  .svg-image{
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  .hidden-text{
    text-align: center;
    display: block;
  }
  .lomo-shop-para{
    display: none;
  }
  .all-flex,.second-width{
    padding: 0px;
  }
}
