@media (max-width: 1400px) {
  .tempat {
    width: 50%;
    padding: 0px 16px;
  }

  .first-image {
    width: 50%;
  }

  .bg-blue-container {
    max-width: 1320px;
  }
  .container-2 {
    max-width: 1320px;
  }
}
@media (max-width: 1024px) {
  .bg-blue-container {
    max-width: 960px;
  }
   .container-2{
    max-width: 960px;
  }
  .text{
    margin: 0px 77.5px 80px;
  }
} 
@media (max-width: 991px) {
              .navbar{
        display: none;
      }
}    #nav-bar{
    position: absolute;
    /* display: none; */
  }
  #nav-bar:checked ~.navbar {
    display: block;
  }
  .nav-toggle span:after {
    content: "<i class="fa-solid fa-bars"></i>";
  }
  #nav:checked ~ #navigation-links label {
    background:    red;
    span:after {
      content: "\2715";
    }
  }
   /* .navbar{
    display: flex;
    flex-direction: column;
        text-align: center;
        width: 828px;
        margin: auto; 
}
     .navbar ul{
        margin: auto;
        flex-direction: column;
   } */
@media (max-width: 992px) {
 /* .navbar{
        display: flex;
        flex-direction: column;
            text-align: center;
            width: 828px;
            height: 254px;
            margin: auto; 
    }
        .navbar ul{
            margin: auto;
            flex-direction: column;
       }     */
      
     .icon {
        display: block;
      }  
  .logo img {
    width: 102px;
  }

  .tempat {
    width: 48%;
  }

  .tempat h1 {
    font-size: 37px;
  }

  .first-image {
    width: 48%;
  }

  .bg-blue-container {
    max-width: 930px;
  }
  .button-data {
    flex-wrap: wrap;
}
.toko-online-text, .produk-text{
    padding: 0px 15px;
}
.toko-online h3, .produk h3{
    font-size: 20px;
}

}

@media (max-width: 768px) {
  .bg-blue-container {
    max-width: 720px;
  }
  .button-data {
      flex-direction: row;
    }
    
  .bg-blue {
      /* gap: 8rem; */
    flex-direction: row;
  }
  
  .tempat {
      width: 100%;
    }
    
    .first-image {
        width: 100%;
    }
    .container-2{
        max-width: 720px;
    }
    .text{
        margin: 0px 0px 80px;
    }
}

@media (max-width: 576px) {
  .bg-blue-container {
    max-width: 540px;
  }
  .tempat {
    padding: 0px 15px;
  }

  .tempat h1 {
    line-height: 2.875rem;
  }

  .bg-blue {
    flex-direction: column;
    gap: 2rem;
  }

  .demo-schedule {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .from-now {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .from-now::after {
    right: -20px;
    bottom: 25px;
    box-shadow: 0px 0px 5px;
  }

  .button-data {
    /* flex-wrap: wrap; */
  }
  .container-2{
    max-width: 540px;
  }
  .text h1{
    font-size: 26px;
}
.toko-online-image, .toko-online-text{
    width: 100%;
}
.toko-online, .produk{
    gap: 3rem;
    flex-direction: column-reverse;
}
.produk-text, .produk-image{
    width: 100%;
}
}
