@media (max-width:1400px){    
    .tempat {
        width: 50%;
    padding: 0px 15px;
    }
    .first-image{
        width: 50%;
    }
.bg-blue-container{
    max-width: 1320px;
}    
.navigation-bar{
    max-width: 1320px;

    }
    /* .container-2{
        max-width: 1320px;
    }
        .text{
            margin: 0px 257px 80px;
            max-width: 775px;
        }
        .toko-online img{
            width: 602px;
        }
        .toko-online h3{
            width: 519px;
        }
        .produk text{
            margin: 0px 257px 80px;
            max-width: 775px;
        }
        .produk img{
            width: 602px;
        }
        .produk h3{
            width: 519px;
        } */
}
@media (max-width:1024px){    
    .bg-blue-container{
        max-width: 930px;
    }
    @media (max-width:992px){  
        .logo img{
            width: 102px;
        }  
        .tempat h1{
            font-size: 37px;
        }

        .bg-blue-container{
            max-width: 930px;
        }
        .navbar{
             display: none;
         }  
         .icon{
            display: block; 
        }
    }
    .button-data{
        flex-direction: column;
    }
    .from-now{
        width: 37%;
    }
}
@media (max-width: 768px){
    .bg-blue-container{
        max-width: 540px;
    }
    .button-data{
        flex-direction: row;
    }
    .bg-blue{
        gap: 8rem;
        flex-direction: column;
    }
    .tempat{
        width: 100%;
    }
    .first-image{
        width: 100%;
    }
}
@media (max-width: 576px){
    .bg-blue-container{
        max-width: 510px;
    }
    .bg-blue{
        gap: 2rem;
    }
    .demo{
        font-size: .8rem;
        padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    }
    .from-now{
        font-size: .8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
/* @media (max-width:1280px){    
    .text{
        max-width: 775px;
        text-align: center;
        margin-bottom: 5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .toko-online{
        justify-content: center;
    }
    .toko-online-text{
        width: 525px;
    }
    .produk-text{
        width: 525px;
    }
    .produk{
            justify-content: center;        
    } */
/* } @media (min-width:1200px){
.container-2{
     max-width: 1140px;
}
.produk{
    justify-content: center;
}
.toko-online{
    justify-content: center;
}
    .bg-blue{
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
} */
  @media (max-width:1024px){
/* .navbar{
    display: flex;
    flex-direction: column;
        text-align: center;
        width: 828px;
        height: 254px;
        margin: auto; 
}
    .navbar ul{
        margin: auto;
        flex-direction: column;
    } */
    /* .button{
        flex-direction: column;
    } */

    /* }
    .logo img{
        width: 102px;
        height: 40px;
    }
  .bg-blue img{
    width: 435px;
    height: 385px ;
  } 

.bg-blue-container{
    width: 100%;
    padding: 0px 15px; 
}
  /* @media (max-width:992px){
    .tempat h1{
        width: 350px;
    font-size: 2.3rem;
}
.white-text{
    font-size: 15px;
}
.bg-blue-container{
    max-width: 960px;
    padding: 0px 15px;
}
.button-data {
    flex-direction: column;
    }
  @media (max-width:640px){
    .bg-blue-container {
        width: 100%;
        padding: 0px 15px;    
    }
    .container-2{
        margin: 0px 50px; */
    /* } */
/* .bg-blue{
    gap: 120px;
    flex-direction: column;
}
.button-data{
    flex-direction: row;
}
.tempat h1{
    width: 480px;
}
  }
  @media (max-width:768px){
    .navigation-bar{
        max-width: 320px;
    }
    .demo-schedule{
        width: 169px;
        height: 37px;
        font-size: 12.8px;
        padding: 0px 12px;
    }
    .bg-blue{
        flex-direction: column;
    }
    .bg-blue img{
        width: 290px;
        height: 256px;
    }
    .from-now{
        width: 100px;
        height: 37px;
        font-size: 12.8px;
        padding: 0px 12px;
    }
    .tempat h1{
        width: 290px;
        padding: 0px 15px;
            font-size: 2.3rem;
    }
    .tempat span{
        width: 290px;
    }
    .button-data{
        width: 290px;
    }
    .demo{
        font-size: .8rem;

    }
    .from-now{
        font-size: .8rem;     
    }
    .bg-blue{
        flex-direction: unset;
    }
    .bg-blue img {
        width: 290px;
        height: 256px;
    }
    .toko-online{
        flex-direction: column;
    }
    .toko-online img{
        width: 290px;
    }
    .produk img{
        width: 290px;
    }
    .produk{
        flex-direction: column;
    }
  }
} */


/* @media (max-width: 576px) {
    .tempat{
        width: 480px;
    }
    .bg-blue img{
        width: 480px;
    }
    .bg-blue{
        gap: 2rem;
    }

}
@media (min-width: 768px) {
    .toko-online{
        flex-direction: column;
    }
    .bg-blue-container{
        max-width: 720px;
    }
    .bg-blue img{
        width: 315px;
  height: 280px;
    }
    
} *