@font-face {
  font-family: Circular Std Book;
  src: url(/assets/fonts/Circular\ Std\ Book.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Circular Std Book;
}
.blue-bg-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgb(49 27 146);
}
img {
  max-width: 100%;
  height: auto;
}
.navigation-bar {
  max-width: 1270px;
  color: white;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
ul li {
  list-style-type: none;
}
.icon {
  color: #9da0a5;
  width: 18px;
  height: 14px;
  display: none;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  flex-wrap: wrap;
  font-family: Circular Std Book;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.list-padding {
  padding: 12px;
}
.button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 152px;
}
.demo {
  font-family: Circular Std Book;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: white;
  font-size: 12px;
  color: rgb(49 27 146);
  cursor: pointer;
}
.login {
  font-family: Circular Std Book;
  cursor: pointer;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: #aae900;
  font-size: 12px;
  color: rgb(49 27 146);
}
.dropdown {
  padding: 12px;
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  border-radius: 10px;
  top: 37px;
  right: -7px;
  padding: 4px 0px;
}
.dropdown-content a {
    color: #374151;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}
.button-data {
  display: flex;
  gap: 0.75rem;
  margin: 36px 0px 0px;
}
.dropdown-content a:hover {
  background-color: rgb(223, 218, 218);
}
.button:hover .demo {
  background-color: rgb(223, 218, 218);
}
.button:hover .login {
  background-color: rgb(159, 233, 110);
}
.alll {
  background: rgb(49 27 146);
  width: 100%;
}
.bg-blue-container {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.dropdown i{
  margin-left: 0.5rem;
}
.bg-blue {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 145px 0px 50px;
}
.tempat {
  padding: 0px 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.tempat span{
  font-size: 15px;
  line-height: 1.5rem;
}
.tempat h1 {
  width: 99%;
  line-height: 3.8rem;
  color: #aae900;
  font-size: 3.1rem;
  font-family: Circular Std Book;
  margin-bottom: 1rem;
}
.first-image {
  width: 50%;
  padding: 0px 15px;
}
.white-text {
  color: white;
  font-family: Circular Std Book;
}
.demo-schedule {
  font-size: 1rem;
  padding: 16px 32px;
  color: #311b92;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 5px;
  font-family: Circular Std Book;
}
.from-now {
  z-index: 1;
  font-size: 1rem;
  padding: 12px 30px;
  color: #311b92;
  background-color: #aae900;
  border: 0px solid;
  border-radius: 5px;
  position: relative;
  font-family: Circular Std Book;
}
.from-now::after {
  content: "Gratis";
      font-size: .875rem;
  background-color: #ffffff;
  padding: 2px 8px;
  color: #311b92;
  position: absolute;
  border-radius: 10px;
  bottom: 42px;
    box-shadow: 0px 0px 5px;
}
.container-2 {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.text,.bg-third-portion-text {
  margin: 0px 257px 80px;
  text-align: center;
}
.text h1 {
  font-size: 36px;
  margin: 24px 0px;
  font-family: Circular Std Book;
  color: #374151;
}
.text span {
  line-height: 1.5rem;
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px 40px;
}
.toko-online-text {
  width: 50%;
  padding: 0px 15px;
}
.toko-online-image {
  width: 50%;
  padding: 0 15px;
}
.toko-online h3 {
  line-height: 2.80rem;
  font-size: 30px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online span {
  line-height: 1.5rem;
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online-inner-padding,.produk-text-inner-padding{
  padding: 0rem 3rem;
}
.produk {
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  margin: 0px 0px 40px;
}
.produk-text {
  line-height: 1.5rem;
  width: 50%;
  padding: 0px 15px;
}
.produk-image {
  padding: 0px 15px;
  width: 50%;
}
.produk h3 {
  line-height: 2.5rem;
  color: #374151;
  font-size: 30px;
  font-family: Circular Std Book;
}
.produk span {
  color: #374151;
  font-size: 16px;
}
.bg-third-portion {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-3 {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bg-third-portion-text h2 {
  font-size: 36px;
  color: #374151;
  margin: 24px 0px;
}
.bg-third-portion-text span {
  font: 16px;
  color: #374151;
}
.langkah-container, .langkah-container-2 {
  display: flex;
}
.langkah-1-text, .langkah-2-text,.langkah-3-text, .langkah-4-text{
  color: #374151;
  max-width: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.langkah-1-img,.langkah-2-img,.langkah-3-img,.langkah-4-img{
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;
}
.span-data {
  line-height: 2.85rem;
  margin: 0px 0px 12px;
  font-size: 30px;
}
.span-data-line-height{
  line-height: 1.5rem;
}
.langkah-inner-data, .langkah-2-inner-data,.langkah-3-inner-data, .langkah-4-inner-data {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 0px 15px;
}
.bg-blue-cards {
  background-color: rgb(49 27 146);
  padding-top: 70px;
  padding-bottom: 70px;
}




