  @font-face {
  font-family: Circular Std Book;
  src: url(/assets/fonts/Circular\ Std\ Book.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Circular Std Book;
}
#web{
overflow: auto;
}
.blue-bg-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgb(49 27 146);

}
.navigation-bar {
  /* background: rgb(49 27 146); */
  color: white;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0px 40px; */
}
ul li {
  list-style-type: none;
}
.icon {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  flex-wrap: wrap;
  font-family: Circular Std Book;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.list-padding{
  padding: 12px;
}
.button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 152px;
}
.demo {
  font-family: Circular Std Book;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: white;
  font-size: 12px;
  color: rgb(49 27 146);
  cursor: pointer;
}
.login {
  font-family: Circular Std Book;
  cursor: pointer;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: #aae900;
  font-size: 12px;
  color: rgb(49 27 146);
}
.dropdown{
  padding: 12px;
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  /* border-radius: 10px; */
  top: 37px;
  right: -7px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.button-data {
  display: flex;
  gap: 0.75rem;
  margin: 36px 0px 0px;
}
.dropdown-content a:hover {
  background-color: rgb(223, 218, 218);
}
.button:hover .demo {
  background-color: rgb(223, 218, 218);
}
.button:hover .login {
  background-color: rgb(159, 233, 110);
}
.alll {
  background: rgb(49 27 146);
  width: 100%;
}
.bg-blue-container {
  width: 100%;
  overflow: auto;
}
.bg-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 145px 0px 50px;
  flex-wrap: wrap;
  
}
.bg-blue img {
  padding: 0 15px;
}
.tempat {
  display: flex;
  flex-direction: column;
  width: 435px;
}
.tempat h1 {
  line-height: 3.8rem;
  color: #aae900;
  font-size: 3.1rem;
  font-family: Circular Std Book;
  margin-bottom: 1rem;
}
.white-text {
  color: white;
  font-family: Circular Std Book;
}
.demo-schedule {
  font-size: 1rem;
  padding: 12px 30px;
  color: #311b92;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 5px;
  font-family: Circular Std Book;
  width: 240px;
  height: 50px;
}
.from-now {
  z-index: 1;
  font-size: 1rem;
  padding: 12px 30px;
  color: #311b92;
  background-color: #aae900;
  border: 0px solid;
  border-radius: 5px;
  position: relative;
  font-family: Circular Std Book;
  /* width: 154px;
  height: 50px; */
}
.from-now::after {
  content: "Gratis";
  background-color: #ffffff;
  padding: 2px 8px;
  color: #311b92;
  position: absolute;
  border-radius: 10px;
  bottom: 35px;
}
.container-2 {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.text {
  margin: 0px 77.5px 80px;
  text-align: center;
}
.text h1 {
  font-size: 36px;
  margin: 24px 0px;
  font-family: Circular Std Book;
  color: #374151;
}
.text span {
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online {
  /* padding: 0px 48px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0px 0px 40px;
}
.toko-online img {
  width: 435px;
  height: 328;
  padding: 0 15px;
}
.toko-online h3 {
  font-size: 30px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online span {
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online-text{
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}
.produk {
  flex-direction: row-reverse;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0px 0px 40px;
}
.produk h3 {
  color: #374151;
  font-size: 30px;
  font-family: Circular Std Book;
}
.produk span {
  color: #374151;
  font-size: 16px;
}
.produk img {
  width: 435px;
  height: 328;
}
.produk-text {
  width: 100%;
  padding: 0px 48px;
}
.bg-third-portion {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-3 {
   /* max-width: 960px; */
  margin: 0px 433px;
  padding: 0px 15px; 
}
.bg-third-portion-text {
  margin: 0px 77.5px 80px;
  text-align: center;
}
.bg-third-portion-text h2 {
  font-size: 36px;
  color: #374151;
  margin: 24px 0px;
}
.bg-third-portion-text span {
  font: 16px;
  color: #374151;
}
.langkah-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.langkah-container-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.langkah-inner-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.langkah-2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.langkah-2-inner-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.langkah-3-inner-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.langkah-4-inner-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-blue-cards{
  background-color: rgb(49 27 146);
  padding-top: 70px;
    padding-bottom: 70px;
}