@font-face {
  font-family: Circular Std Book;
  src: url(../assets/fonts/Circular\ Std\ Book.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Circular Std Book;
  color: #374151;
}
.blue-bg-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgb(49 27 146);
}
img {
  max-width: 100%;
  height: auto;
}
.navigation-bar {
  max-width: 1270px;
  color: white;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
ul li {
  list-style-type: none;
}
.icon {
  color: #9da0a5;
  width: 18px;
  height: 14px;
  display: none;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  flex-wrap: wrap;
  font-family: Circular Std Book;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row li{
  color: #ffffff;
}
.list-padding {
  padding: 12px;
}
.button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 152px;
}
.demo {
  font-family: Circular Std Book;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: white;
  font-size: 12px;
  color: rgb(49 27 146);
  cursor: pointer;
}
.login {
  font-family: Circular Std Book;
  cursor: pointer;
  border: 0px solid;
  border-radius: 2px;
  padding: 7px 8px;
  background-color: #aae900;
  font-size: 12px;
  color: rgb(49 27 146);
}
.dropdown {
  padding: 12px;
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  border-radius: 10px;
  top: 37px;
  right: -7px;
  padding: 4px 0px;
}
.dropdown-content a {
  color: #374151;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}
.button-data {
  display: flex;
  gap: 0.75rem;
  margin: 36px 0px 0px;
}
.dropdown-content a:hover {
  background-color: rgb(223, 218, 218);
}
.button:hover .demo {
  background-color: rgb(223, 218, 218);
}
.button:hover .login {
  background-color: rgb(159, 233, 110);
}
.alll {
  background: rgb(49 27 146);
  width: 100%;
}
.bg-blue-container {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.dropdown i {
  margin-left: 0.5rem;
}
.bg-blue {
  display: flex;
  align-items: center;
  padding: 145px 0px 50px;
}
.tempat {
  padding: 0px 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.tempat span {
  font-size: 15px;
  line-height: 1.5rem;
}
.tempat h1 {
  width: 99%;
  line-height: 3.8rem;
  color: #aae900;
  font-size: 3.1rem;
  font-family: Circular Std Book;
  margin-bottom: 1rem;
}
.first-image {
  width: 50%;
  padding: 0px 15px;
}
.white-text {
  color: white;
  font-family: Circular Std Book;
}
.demo-schedule {
  cursor: pointer;
  font-size: 1rem;
  padding: 16px 32px;
  color: #311b92;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 5px;
  font-family: Circular Std Book;
}
.from-now {
  cursor: pointer;
  z-index: 1;
  font-size: 1rem;
  padding: 12px 30px;
  color: #311b92;
  background-color: #aae900;
  border: 0px solid;
  border-radius: 5px;
  position: relative;
  font-family: Circular Std Book;
}
.from-now::after {
  content: "Gratis";
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 2px 8px;
  color: #311b92;
  position: absolute;
  border-radius: 10px;
  bottom: 42px;
  box-shadow: 0px 0px 5px;
}
.container-2 {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container-3 {
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text,
.bg-third-portion-text {
  margin: 0px 257px 80px;
  text-align: center;
}
.text h1 {
  font-size: 36px;
  margin: 24px 0px;
  font-family: Circular Std Book;
  color: #374151;
}
.text span {
  line-height: 1.5rem;
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px 40px;
}
.toko-online-text {
  width: 50%;
  padding: 0px 15px;
}
.toko-online-image {
  width: 50%;
  padding: 0 15px;
}
.toko-online h3 {
  line-height: 2.8rem;
  font-size: 30px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online span {
  line-height: 1.5rem;
  font-size: 16px;
  color: #374151;
  font-family: Circular Std Book;
}
.toko-online-inner-padding,
.produk-text-inner-padding {
  padding: 0rem 3rem;
}
.produk {
  width: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  margin: 0px 0px 40px;
}
.produk-text {
  line-height: 1.5rem;
  width: 50%;
  padding: 0px 15px;
}
.produk-image {
  padding: 0px 15px;
  width: 50%;
}
.produk h3 {
  line-height: 2.5rem;
  color: #374151;
  font-size: 30px;
  font-family: Circular Std Book;
}
.produk span {
  color: #374151;
  font-size: 16px;
}
.bg-third-portion {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bg-third-portion-text h2 {
  font-size: 36px;
  color: #374151;
  margin: 24px 0px;
}
.bg-third-portion-text span {
  font: 16px;
  color: #374151;
}
.langkah-container,
.langkah-container-2 {
  display: flex;
}
.langkah-1-text,
.langkah-2-text,
.langkah-3-text,
.langkah-4-text {
  color: #374151;
  max-width: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.langkah-1-img,
.langkah-2-img,
.langkah-3-img,
.langkah-4-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 370px;
}
.span-data {
  line-height: 2.85rem;
  margin: 0px 0px 12px;
  font-size: 30px;
}
.span-data-line-height {
  line-height: 1.5rem;
}
.langkah-inner-data,
.langkah-2-inner-data,
.langkah-3-inner-data,
.langkah-4-inner-data {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 0px 15px;
}


.bg-blue-cards {
  background-color: rgb(49 27 146);
  padding-top: 70px;
  padding-bottom: 70px;
}
.bg-blue-cards{
  padding: 70px 0px;
}
.card-container,.container-7,.container-8{
   max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;   
}
.card-text{
  margin: 0px 257px 24px;
  color: white;
}
.card-text h2{
  margin: 24px 0px;
  font-size: 36px;
}
.flex-card{
  display: flex;
  align-items: center;
}
.logo-store{
  gap: 0.5rem;
  margin: 24px 0px;
  display: flex;
}
.petite-bakery-text{
  color: white;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.logo-store-image{
  width: 42px;
  height: 42px;
}
.logo-store-image img{
  border-radius: 50%;
}
.portion-5{
  padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(244 249 253)
}
.container-4{
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;   
  text-align: center;
}
.container-4 h2{
  margin: 0px 0px 64px;
  font-size: 36px;
}
.kata-mereka{
  align-items: center;
  display: flex;
}
.kata-mereka-inner{
  display: flex;
  line-height: 26px;
  flex-direction: column;
}
.kata-mereka-inner h4{
  font-size: 24px;
  margin: 0px 0px 4px;
}
.kata-mereka-image{
  margin-right: auto;
  margin-left: auto;
  max-width: 464px;
}
.kata-mereka-image, .kata-mereka-text{
  width: 50%;
  padding: 0px 15px;
}
.kata-mereka-text{
  text-align: start;
}
.inner-flex-kata-mereka{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2.25rem;
}
.kata-mereka-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(156 163 175)
}
.arrow-icon{
  color: white;
  cursor: pointer;
}
.card-circle{
  display: none;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #6f5fb3;
}
 .portion-6{
  padding-top: 80px;
    padding-bottom: 80px;
}
.container-5{
  max-width: 1320px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.atm-card-flex,.atm-card-flex-2{
  margin: 0px 0px 16px;
  display: flex;
  align-items: center;
  text-align: center;
}
.atm-card-flex-2{
  flex-direction: row-reverse;
}
.banyak,.banyak-image{
  padding: 0px 15px;
  width: 50%;
}
.banyak h3{
  margin: 0px 0px 20px;
  font-size: 30px;
} 
.banyak p{
  line-height: 1.5rem;
}





 .container-6{
  padding-top: 80px;
    padding-bottom: 80px;
  text-align: center;
  max-width: 1320px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.select-options h2{
  font-size: 36px;
  margin: 0px 0px 64px;
} 
.select-dropdown{
  display: flex;
}
.select-dropdown select{
  margin-bottom: 1.25rem;
  padding: 12px 24px;
}
.all-flex{
  width: 50%;
  padding: 0px 15px;
}
.second-width{
  width: 50%;
  padding: 0px 15px;
}






.portion-7{
  background-color: #311b92;
  padding-top: 100px;
  padding-bottom: 100px;

}
.mulai-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mulai-text h3{
  max-width: 850px;
  color: rgb(170 233 0);
font-size: 36px;  
margin: 0px 0px 4px;
}
.button-data-bg-blue{
  display: flex;
  gap: 1.25rem;
  margin: 40px 0px 0px;
}
.demo-schedule-bg-blue{
  cursor: pointer;
  font-size: 1rem;
  padding: 16px 32px;
  color: #311b92;
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 5px;
}
.from-now-bg-blue {
  cursor: pointer;
  z-index: 1;
  font-size: 1rem;
  padding: 16px 32px;
  color: #311b92;
  background-color: #aae900;
  border: 0px solid;
  border-radius: 5px;
  position: relative;
  font-family: Circular Std Book;
}
.from-now-bg-blue::after {
  content: "Gratis";
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 2px 8px;
  color: #311b92;
  position: absolute;
  border-radius: 10px;
  bottom: 42px;
  box-shadow: 0px 0px 5px;
}
.portion-8{
  padding: 70px 0px;
  background-color: rgb(238 242 255);
}
.container-8{
  text-align: start;
}
.lomo-image{
  max-width: 150px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
}
.svg-image{
  max-width: 134px;
}
.svg{
  color: #311b92;
  cursor: pointer;
}
.lumo-flex{
  display: flex;
  flex-wrap: wrap;
}
.lomo-shop,.produk-list,.bantuan-list,.connect-list{
  width: 25%;
  padding: 0px 15px;
  line-height: 25px;
}
.produk-list-inner{
  color: rgb(49 27 146);
  display: inline-block;
  margin: 0px 0px 20px;
  font-size: 1.25rem;
}
.produk-list ul li{
  cursor: pointer;
  margin: 0px 0px 12px;
  font-family: Circular Std Book;
    color: #374151;
}
.bantuan-list ul li{
  cursor: pointer;
  margin: 0px 0px 12px;
  font-family: Circular Std Book;
    color: #374151;
}
.connect-list ul li{
  cursor: pointer;
  margin: 0px 0px 12px;
  font-family: Circular Std Book;
    color: #374151;
}
.hidden-text{
  color: rgb(111 95 179);
  display: none;
}
.lomo-shop-para{
  color: rgb(111 95 179);
}
.width{
  background-color: rgb(234 232 244);
  margin-bottom: 1.25rem;
  border-radius: 4px;
  padding-left: 1.5rem;
    padding-right: 1.5rem;
  display: flex;
    flex-direction: column;
  border: 1px solid;
  border-color: rgb(173 164 211);
}
.content-icon-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-inner{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  font-size: 15px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#dropdown-ada:checked~.pertama{
  display: block;
  height: 200px;
}
#Apakah-main:checked~.Apakah{
  display: block;
  height: 200px;
}
#bagaimana:checked~.cara{
  display: block;
  height: 200px;
}
#dropdown-fourth:checked~.kami{
  display: block;
  height: 200px;
}
#dropdown-fifth:checked~.lumo-shop-akan{
  display: block;
  height: 200px;
}
#dropdown-sixth:checked~.fitur{
  display: block;
  height: 200px;
}
  .pertama,.Apakah,.cara,.kami{
    transition: all .5s ease;
    overflow: hidden;
    height: 0;
    font-size: 12px;
  }
  .lumo-shop-akan,.fitur{
    transition: all .5s ease;
  overflow: hidden;
  height: 0;
  font-size: 12px; 
}
